// Basic configuration varibles used throughout project
// ------------------------------------------------


// Colour palette 
// ------------------------------------------------

// Standard Colours
black = #222
darkgrey = #1f1f1f
grey = #393939
lightgrey = #5a5a5a
white = #efefef

// Emotive colours
positive = #94b86e 
negative = #e25856
caution = #f0ad4e

// Media Queries
// ------------------------------------------------
mobile = 1px
phablet = 321px
smallTablet = 480px
tablet = 700px
desktop = 900px
widescreen = 1300px